@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;600&display=swap');

:root {
    --main-font: 'Red Hat Display', sans-serif;
    --brown-red: #c99190;
    --lighter-redbrown: #caa3a2;
    --pinkish: #e6bbbb;
    --pinkish-light: #ffd3d3;
    --brown-pink: #e6c4bb;
    --light-gold: #e4ccc0;
    --gold: #ccb2bb;
    --blueya: #5460F9;
    --cutestpurp: #9491e2;
    --cutestpurplight: #a9a7ff;
    --lighterblue: #12b3eb;
    --seagrean: #2feaa8;
    --whiteblue: #ccf7f4;
    --whitestblue: #ebfffe;
    --whitestpurp: #f2f2fd;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--whitestpurp);
    font-family: var(--main-font);
}

.errorMessage {
    font-size: 1rem;
    color: black;
}

.field-required {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.mainNavbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--cutestpurp);
    font-family: var(--main-font);
    padding: 2rem;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px 2px black;
}

.icon-nav {
    font-size: 1.2rem;
    margin-left: 1rem;
    text-decoration: none;
    color: white;
}

.active-tab-icon {
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}

.introHeader {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.other-nav {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.other-nav a {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .2rem;
}

.active-tab {
    font-weight: bold;
    color: white;
    font-size: 1.08rem;
    text-decoration: none;
}

.other-nav a:hover {
    color: white;
    font-weight: bold;
    transition: .05s;
}

.icon-nav a:hover {
    color: white;
    font-weight: bold;
}

.contactHeader {
    font-size: 3rem;
    font-weight: bold;
    color: var(--cutestpurp);
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.contactInput {
    margin: .5rem;
}

footer {
    position: relative;
    height: 3rem;
    width: 100%;
}

.footerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cutestpurp);
}

.footerLinks li {
    list-style-type: none;
    margin: 2rem;
}

.footerLinks li a {
    text-decoration: none;
    color: black;
}

.imagelogos {
    height: 20px;
    width: 20px;
}

.imagelogos:hover {
    opacity: 60%;
    transition: .05s;
}

.contentContainer {
    min-height: calc(100vh - 32px);
}

.portfolioLinks {
    list-style: none;
    box-sizing: border-box;
    padding: 16px;
    display: grid;
    gap: 50px 50px;
    justify-content: center;
    grid-template-columns: repeat(3, .3fr);
    position: relative;
    width: 100%;
}

.link-images {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.fitcommitImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.image-container {
  position: relative;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.main-hover {
    font-size: 2rem;
}

.main-hover:hover {
    opacity: 60%;
}

.logo-hover {
    font-size: 1rem;
}

.logo-hover:hover {
    opacity: 60%;
}
  
.image-container .overlay {
  position: absolute;
  bottom: 100%;
  right: 0;
  left: 0;
  width: 100%;
  height: 0;
  overflow: hidden;
  background-color: var(--cutestpurp);
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 10px;
}
  
.image-container:hover .overlay {
  display: flex;
  bottom: 0;
  height: 100%;
}
  
.image-container .overlay a {
  display: inline-block;
  margin: 20px;
  color: black;
  text-decoration: none;
}  

.skills {
    margin: 5%;
}

.row-1, .row-2, .row-3 {
    display: grid;
}

.item-1 {
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: center;
    text-align: center;
    background-color: rgb(52, 52, 52);
    color: white;
    padding: 2rem;
    border-radius: 10px;
}

.item-2 {
    grid-column-start: 2;
    grid-row-start: 1;
    text-align: center;
    align-self: center;
    background-color: var(--cutestpurp);
    color: white;
    font-weight: bold;
    padding: 2rem;
    border-radius: 10px;
}

.item-3 {
    grid-column-start: 3;
    grid-row-start: 1;
    text-align: center;
    align-self: center;
    background-color: rgb(52, 52, 52);
    color: white;
    padding: 2rem;
    border-radius: 10px;
}

.item-4 {
    grid-column-start: 4;
    grid-row-start: 1;
    text-align: center;
    align-self: center;
    background-color: var(--cutestpurp);
    color: white;
    font-weight: bold;
    padding: 2rem;
    border-radius: 10px;
}

.row-1-content, 
.row-2-content, 
.row-3-content {
    margin: 3%;
}

/* setting the first image to be the biggest */
#image-grid-col-row {
    grid-column: span 3;
    grid-row: span 1;
}

/* text to overlay over the images */
/* .h3-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); 
    width: 100%;
    height: 20%;
    transition: .5s ease;
    color: white;
    font-weight: normal;
    font-size: 30px;
    padding: 3rem;
    text-align: center;
    border-radius: 10px;
} */

.selfie {
    border-radius: 10px;
}

.selfieContainer {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

#downloadBtn {
    font-size: 1.1rem;
    padding: .3rem;
    margin-left: 1.5rem;
}

.nav-item {
    list-style-type: none;
}

.btn {
    background-color: var(--cutestpurp);
    color: white;
}

.btn:hover {
    background-color: var(--cutestpurplight);
    color: white;
}