@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;600&display=swap');

:root {
    --main-font: 'Red Hat Display', sans-serif;
    --brown-red: #c99190;
    --lighter-redbrown: #caa3a2;
    --pinkish: #e6bbbb;
    --pinkish-light: #ffd3d3;
    --brown-pink: #e6c4bb;
    --light-gold: #e4ccc0;
    --gold: #ccb2bb;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--pinkish-light);
}

.mainNavbar {
    display: flex;
    justify-content: space-between;
    background-color: var(--brown-red);
    font-family: var(--main-font);
    padding: 2rem;
}

.mainNavbar a {
    text-decoration: none;
    color: black;
}

.mainNavbar a:hover {
    color: var(--pinkish-light);
    transition: .05s;
}

h1 {
    font-size: 5rem;
}

footer {
    position: relative;
    height: 3rem;
    width: 100%;
}

.footerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--brown-red);
}

.footerLinks li {
    list-style-type: none;
    margin: 2rem;
}

.footerLinks li a {
    text-decoration: none;
    color: black;
}

.imagelogos {
    height: 20px;
    width: 20px;
}

.imagelogos:hover {
    opacity: 60%;
    transition: .05s;
}

.contentContainer {
    min-height: calc(100vh - 32px);
}

.portfolioLinks {
    list-style: none;
    box-sizing: border-box;
    padding: 16px;
    display: grid;
    gap: 50px 50px;
    justify-content: center;
    grid-template-columns: repeat(3, .3fr);
    position: relative;
    width: 100%;
}

.overlay a {
    text-decoration: none;
    color: black;
}
